@import url("normalize.css");

html {
  font-size: 62.5%;
}

:root {
  --dark: #306061f6;
  --darker: #417b7d;
  --darkest: #111827;
  --grey: #ccd0d8;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
  background-color: var(--dark);
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--grey);
  margin-bottom: 1rem;
}

#todo__form {
  display: flex;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#input {
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}

#input::placeholder {
  color: var(--grey);
}

#btn-submit {
  color: var(--pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(126, 203, 205, 1) 2%,
    rgb(69, 177, 227) 100%
  );
  font-size: 1.25rem;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}

#btn-submit:hover {
  opacity: 0.8;
}

#btn-submit:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.todo-list {
  padding: 1rem;
}

.todo-list h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--grey);
  margin-bottom: 1rem;
}

#todos .todo {
  display: flex;
  justify-content: space-between;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.todo__content {
  flex: 1 1 0%;
}

.todo__content .text {
  color: var(--light);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

.todo__content .text:not(:read-only) {
  color: var(--darkest);
}

.todo .buttons {
  display: flex;
  margin: 0 -0.5rem;
}

.todo .buttons button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.todo .buttons button:hover {
  opacity: 0.8;
}

.todo .buttons button:active {
  opacity: 0.6;
}

.todo .buttons .edit {
  background-image: linear-gradient(
    90deg,
    rgba(126, 203, 205, 1) 2%,
    rgb(69, 177, 227) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.todo .buttons .delete {
  color: rgb(6, 209, 209);
}

.text-container h1 {
  margin: 5rem 0;
  font-size: 6rem;
  color: rgba(225, 225, 225, 0.01);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoZob8eOJ5R2X-fcCaoORGQj_3A8XUGnQH_hTcFha68uaMhYi6BCQK-AJ3knad43iJNpM&usqp=CAU");
  background-repeat: repeat;
  background-clip: text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}
